body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('img/planodefundo1.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    height: 100%;
    box-sizing: border-box;
}

.login-container{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(102, 255, 102, 0.3);
    width: 320px;
    backdrop-filter: blur(5px);
    box-sizing: border-box;
}

.login-container h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.form-group{
    margin-bottom: 20px;
}

.forme-group label{
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.forme-group input{
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: rgba(220, 220, 220, 0.7);
  color: #333;
}

button{
    background-color: #2e8b57;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

button:hover{
    background-color: #3cb371;
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

#message{
    margin-top: 20px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
}

footer{
    text-align: center;
    padding: 10px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
}